/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/tripMBTI/option.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
/* body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
} */

/* button {
    border: none;
} */

.option_slider___diYk {
    width: 1200dvw;
    overflow: hidden;
}
.option_content__8wTw0 {
    /* margin-top: 15vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    float: left;
}

.option_top__E5BcH {
    height: 20vh;
    padding: 2rem;
}

.option_mbti__counter__NH4rd {
    font-size: 2rem;
    font-weight: bold;
    height: 10vh;
}

.option_mbti__progress__color__8Yux_ {
    color: #ed6174;
    font-size: 1.5em;
}

.option_mbti__end__color___J3GS {
    color: #e8e7e6;
}

.option_mbti__question__yvXbh {
    color: #4e4e4e;
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;
}

.option_mbti__btn__box__vmtr0 {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 25vh;
    margin: 0 auto;
}

.option_mbti__button__PgZwB {
    display: flex;
    justify-content: center;
    height: 45%;
    margin: 1rem;
    padding: 1.2rem;
    box-sizing: border-box;
    background-color: #fff;
    color: rgba(110, 110, 110, 1);
    border: 1px solid gray;
    border-radius: 6px;
    border-color: #d0d0d0;
    font-weight: 600;
}

.option_mbti__button__PgZwB:active {
    color: #fff;
    background-color: #ed6174;
    transform: scale(0.95);
    transition: 100ms;
    border: none;
}

.option_loading__container__zvJVr {
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
}

.option_loading__container__zvJVr h2 {
    padding: 2rem;
}
.option_loading__8185A {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid #ed6174;
    border-top: 1px solid white;
    animation: option_spin__Q9bHu 2s linear infinite;
}

.option_ticket__9wrdj {
    width: 100vw;
}
@keyframes option_spin__Q9bHu {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
    /* html {
        background-color: #fff;
    } */
    .option_top__E5BcH {
        width: 768px;
        margin: 0 auto;
    }

    .option_mbti__btn__box__vmtr0 {
        width: 25%;
    }

    .option_mbti__counter__NH4rd {
        text-align: left;
    }

    .option_mbti__button__PgZwB {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .option_mbti__button__PgZwB:hover {
        color: #fff;
        background-color: #ed6174;
        transform: scale(0.98);
        transition: 100ms;
    }

    .option_loading__8185A {
        width: 3rem;
        height: 3rem;
    }

    .option_ticket__9wrdj {
        width: 30rem;
    }
}

/* //아이폰 SE 추가대응 */
@media screen and (max-width: 320px) {
    .option_mbti__button__PgZwB {
        height: 100%;
    }

    .option_mbti__question__yvXbh {
        font-size: 1.2rem;
    }
}

