/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_middle___qbYr h2 {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}
.page_middle___qbYr p {
    padding: 0.2rem;
    font-size: 14px;
    text-align: center;
}
.page_logo__7fc9l {
    width: 50vw;
}

.page_container__aoG4z {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90vw;
    height: 100vh;
}

.page_start__button__DDfAE {
    margin-bottom: 1rem;
    width: 45vw;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #ed6174;
    color: #fff;
}

.page_start__button__DDfAE:active {
    color: #fff;
    background-color: #f54269;
    transform: scale(0.95);
    transition: 10ms;
    border: none;
}

.page_top__xGBOm {
    margin: 15vh 0 10vh;
}

.page_middle___qbYr {
    height: 25vh;
}

.page_icon__AYuK3 {
    margin-left: 6px;
}

.page_copy__button__Pk93F {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.page_header__kVzhN {
    font-weight: bolder;
}

@media screen and (min-width: 768px) {
    /* .wrapper,
    html {
        background-color: #e8e7e6;
    } */
    .page_container__aoG4z {
        width: 768px;
        background-color: #fff;

        box-sizing: border-box;
        background: white;
        border-radius: 12px;
    }
    .page_logo__7fc9l {
        width: 18vw;
    }

    .page_start__button__DDfAE {
        width: 20vw;
    }
}

