.container {
	background-color: wheat;
	position: relative;
}
.slider__container {
	width: 100%;
	position: absolute;
	background-color: darkcyan;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
